* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 90vh;
}

.semana {
    border: 1px dotted rgb(53, 53, 53);
    width: 14%;
    padding: 5px;
}

.semana > h3 {
    padding: 8px;
}
@media only screen 
   and (max-width : 750px) 
   and (max-height : 1334px) {
   /* Styles here */

   section {
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
   }

   .semana {
       width: 60%;
   }

   header {
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
   }

}