body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#top-container {
    display: flex;
    text-align: center;
}

.green-background {
    background-color: green;
    width: 20%;
    padding: 16px;
}

.yellow-background {
    background-color: yellow;
    width: 80%;
    padding: 16px;
}

.pink-background {
    background-color: fuchsia;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#middle-container {
    display: flex;
    width: 100vw;
}

#vertical-middle-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
    width: 25%;
    height: 100%;
}

#content2 {
    width: 50%;
}

#blank {
    width: 25%;
}

.blue-background {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.red-background {
    background-color: red;
    padding: 32px;
    width: 300px;
}

.lightgreen-background {
    background-color: lightgreen;
    height: 100%;
    padding: 32px;
    width: 300px;
}

#footer {
    width: 100vw;
    text-align: center;
}


.purple-background {
    background-color: purple;
    padding: 16px;
    flex-grow: 1;
}